@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(to right, #ff335c, #84827d, #ff335c);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-cursor-playwright {
  caret-color: rgb(101, 56, 21);
}

.bg-moon {
  background-image: url("/images/crescent-moon.svg");
  background-size: cover;
  background-position: top;
}

.click-animation {
  animation: changeColor 1s;
  animation-duration: 3s;
}
@keyframes changeColor {
  0% {
    color: red; /* Initial color */
  }
  50% {
    color: blue; /* Intermediate color */
  }
  100% {
    color: green; /* Final color */
  }
}

.text-color-animation {
  animation: textColorChange 3s infinite alternate;
}
@keyframes textColorChange {
  0% {
    color: #ca780d29;
  }
  75% {
    color: #dcd2c8;
  }
  100% {
    color: #dcd2c8;
  }
}

.text-blood-animation {
  animation: textBloodChange 3s infinite alternate;
}
@keyframes textBloodChange {
  0% {
    color: #ca0d7520;
  }
  75% {
    color: #e5c2d0;
  }
  100% {
    color: #e5c2d0;
  }
}

.text-aqua-animation {
  animation: textAquaChange 3s infinite alternate;
}
@keyframes textAquaChange {
  0% {
    color: #100025;
  }
  75% {
    color: #5e9bbe;
  }
  100% {
    color: #100025;
  }
}

.text-sylph-animation {
  animation: textSylphChange 3s infinite alternate;
}
@keyframes textSylphChange {
  0% {
    color: #100025;
  }
  75% {
    color: #eddbeb;
  }
  100% {
    color: #100025;
  }
}

.text-verse-animation {
  animation: textVerseChange 4s infinite alternate;
}
@keyframes textVerseChange {
  0% {
    color: #100025;
  }
  75% {
    color: #c04e72;
  }
  100% {
    color: #100025;
  }
}

.text-verse-teal-animation {
  animation: textVerseTealChange 4s infinite alternate;
}
@keyframes textVerseTealChange {
  0% {
    color: #ffffff;
  }
  75% {
    color: #41cbbd;
  }
  100% {
    color: #ffffff;
  }
}

.text-verse-indigo-animation {
  animation: textVerseIndigoChange 4s infinite forwards;
}
@keyframes textVerseIndigoChange {
  0% {
    color: #100025;
  }
  75% {
    color: #d7c7e7;
  }
  100% {
    color: #100025;
  }
}

.text-aqua-title-animation {
  animation: textAquaTitleChange 6s infinite forwards;
}
@keyframes textAquaTitleChange {
  0% {
    color: #100025;
  }
  75% {
    color: #cfddde;
  }
  100% {
    color: #100025;
  }
}

.text-blood-title-animation {
  animation: textBloodTitleChange 6s infinite forwards;
}
@keyframes textBloodTitleChange {
  0% {
    color: #100025;
  }
  75% {
    color: rgb(212, 21, 82);
  }
  100% {
    color: #100025;
  }
}

.bg-change {
  animation: bgChange 4s ease-in-out infinite;
}
@keyframes bgChange {
  0% {
    background-color: blue;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

.fade-in-out {
  animation: fadeInOut 8s ease-in-out infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out-soft {
  animation: fadeInOutSoft 8s ease-in-out infinite;
}
@keyframes fadeInOutSoft {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-circular {
  animation: rotate360 5s linear infinite;
}

.slide-in-left {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
  animation: slide-in-left 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-2 8:12:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
  animation: slide-out-left 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-2 8:12:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000);
    opacity: 0;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
  animation: slide-in-top 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-2 8:12:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.6s ease-out both;
  animation: slide-in-fwd-center 0.6s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-5 10:52:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right 1.4s cubic-bezier(0.77, 0, 0.175, 1)
    both;
  animation: slide-in-fwd-right 1.4s cubic-bezier(0.77, 0, 0.175, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-6 8:53:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.modalPoetList::before {
  height: 100vh;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/pexels-pixabay-235985.jpg");
  opacity: 0.75;
}
